body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  color: #292b2c;
  background-color: #ffd43b;
  letter-spacing: 0.5px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: table;
}

.main {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.quiz-frame {
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.quiz-head {
  font-size: 18px;
  margin: 10px;
  margin-bottom: 50px;
}

.head-content {
  padding: 5px;
}

.quiz-body {
  margin: 10px;
}

.quiz-footer {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
}

.footer-content {
  padding: 5px;
}

.button {
  border: 20px;
  border-radius: 7px;
  padding: 10px 25px;
  width: 70%;
  display: block;
  margin: 2px auto;
  cursor: pointer;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.7px;
  font-size: 14px;
  color: #292b2c;
}

.button-correct {
  background-color: #6add33;
}

.button-passive {
  background-color: #ffe793;
}

.button-wrong {
  background-color: #ed375b;
}
