body {
  margin: 0;
}

.logo {
  width: 16.6666666667%;
}

.navigation {
  width: 50%;
}

.user {
  width: 16.6666666667%;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.navigation-link {
  text-decoration: none;
  color: #939699;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.navigation-link:hover {
  color: #0d6efd;
}

.user {
  display: flex;
  justify-content: flex-end;
}

.user-link {
  text-decoration: none;
  color: #55585a;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.button {
  padding: 10px 20px;
  background: #21ad21;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}

.tasks .task {
  margin: 50px 0px;
}

.task-registration,
.task-splash-screen {
  display: flex;
  justify-content: center;
}

.task-splash-screen .button {
  width: 100%;
}

footer {
  background-color: #939699;
}

h2 {
  color: #55585a;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 0.5px;
  padding-left: 1%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  width: 50px;
  font-family: sans-serif;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-style: normal;
  padding: 7px;
}

input[type="text"] {
  width: 50%;
  font-family: sans-serif;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-style: normal;
  padding: 7px;
}

label {
  color: #353738;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.task div {
  margin: 15px 0;
}

.task-triangle-condition {
  display: flex;
}

.task-triangle-condition-image img {
  max-height: 200px;
}
